---
import Layout from "../layouts/Layout.astro";
import NotFound from "../components/NotFound.astro";
---

<Layout title="404 Not Found">
    <div class="md:px-10 flex gap-4 flex-col md:px-30 justify-center">
        <NotFound />
    </div>
</Layout>
